################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PresentationLayer/.vs
/PresentationLayer/packages
/PresentationLayer/PresentationLayer/bin
/PresentationLayer/PresentationLayer/obj/Debug
/mvc5UnityXUnitEF6/.vs
/mvc5UnityXUnitEF6/packages
/mvc5UnityXUnitEF6/PresentationLayer/bin
/mvc5UnityXUnitEF6/PresentationLayer/obj/Debug
/mvc5UnityXUnitEF6/PresentationLayer/App_Data
/mvc5UnityXUnitEF6/DataAccessLayer/obj/Debug/netstandard2.0
/mvc5UnityXUnitEF6/DataAccessLayer/obj
/mvc5UnityXUnitEF6/ServiceLayer/obj
/mvc5UnityXUnitEF6/ServiceLayer/bin/Debug/netstandard2.0
/mvc5UnityXUnitEF6/DataAccessLayer/bin/Debug/netstandard2.0
/mvc5UnityXUnitEF6/ProjectTest/obj/Debug
/mvc5UnityXUnitEF6/UnitTestProject1/bin/Debug
/mvc5UnityXUnitEF6/UnitTestProject1/obj/Debug
/mvc5UnityXUnitEF6/.sonarqube
/mvc5UnityXUnitEF6/PresentationLayer/logs/archives
/mvc5UnityXUnitEF6/PresentationLayer/logs
